<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
</head>
<body>

<div id="app">

    <a :href="link">{{message }}</a>
    <div class="success" v-if="success">
        <p>Bravo votre message s'affiche bien</p>
    </div>
    <div class="error v-else">
        <p>Echec</p>
    </div>

    <ul>
        <li v-for="person in persons">{{person}}</li>
    </ul>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script src="js/app.js"></script>

</body>
</html>